[submodule "Vendor/mobilecoin"]
	path = Vendor/mobilecoin
	url = https://github.com/mobilecoinfoundation/mobilecoin.git
[submodule "Vendor/misty-swap"]
	path = Vendor/misty-swap
	url = git@github.com:mobilecoinofficial/misty-swap.git
